/* headings */
h1{
  background-color: #ffc93c;
  margin: 0;
  padding: 21px 0 21px 20px;
  border-radius:  10px;
}

/* grid components */
.grid-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  padding: 5% 12% 5%;
}
.season {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  height: 70px;
}

.year {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  height: 70px;
  font-size: 20px;
  text-align: center;

}

.quarters{
  text-align: left;
  height: 110px;
  background-color:rgb(239, 239, 239);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(118, 118, 118);

}

.quarters:hover{
  background-color: rgb(225, 225, 225);
  border-color: rgb(74, 74, 74)
}
