
<html>
    <head>
        <meta charset="utf-8">
        <title>UCSC Computer Science Scheduler</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="back">
        <header class="header">
          <div class="">
            <h1><%=currentTerm%></h1>
          </div>
          <div class="nav-links-div">
            <ul class="nav-links">
                <li><a href="https://docs.google.com/document/d/1nDYCS-lYgaSfeYu8J-itvHXummglf5yfUpJaEM4bJ9M/edit" target="_blank">Google Docs</a></li>
                  |
                <li><a href="">Home</a></li>
                  |
                <li><a href="">Scheduler</a></li>
                  |
                <li><a href="https://catalog.ucsc.edu/Current/General-Catalog/Courses/CSE-Computer-Science-and-Engineering" target = "_blank">Course Catalog</a></li>
                  |
                <li><a href="">Requirements</a></li>
            </ul>
          </div>
        </header>

        <div class="thisQuarterGrid">
          <!--EJS variable array "quarterCourses" supplied by server app.js-->
          <% for (var i=0; i<quarterCourses.length; i++){ %>
            <div class="chosenCourses">
              <%= quarterCourses[i] %>
              <form class="" action="/edit" method="post" style="margin: 0px;">
                <button class="remove">
                  Remove
                </button>
              </form>
            </div>
          <% } %>
        </div>
        <div class="card">
            <form class="allForms" action="/edit" method="post">
              <button class="add">
                  Add Class
              </button>
            </form>
            <div class="cardCourse">
                <div class="cardCourseName">
                <h2>COURSE - CSE 20</h2>
                </div>
                  <p class="cardCourseDescription">
                    Description :
                    <br><br>
                    Learn the fundamentals of the Python programming language. From basic syntax to recursion, CSE 20 will introduce you.... ( No prior programming experience required ).
                    Learn the fundamentals of the Python programming language. From basic syntax to recursion, CSE 20 will introduce you.... ( No prior programming experience required )
                    Learn the fundamentals of the Python programming language. From basic syntax to recursion, CSE 20 will introduce you.... ( No prior programming experience required )
                  </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="add">
                Add Class
            </div>
            <div class="cardCourse">
                <div class="cardCourseName">
                <h2>COURSE - CSE 30</h2>
                </div>
                <div class="cardCourseDescription">
                    <p class="description">Description :
                    <br><br>
                    Learn more advanced Python concepts, such as Trees, Stacks, and...
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="add">
                Add Class
            </div>
            <div class="cardCourse">
                <div class="cardCourseName">
                <h2>COURSE - CSE 12</h2>
                </div>
                <div class="cardCourseDescription">
                    <p class="description">Description :
                    <br><br>
                    Get fucked over by MIPS assembly....
                    </p>
                </div>
            </div>
        </div>
    <script src="index.js" charset="utf-8"></script>
<%- include("footer")-%>
