
<html>
    <head>
        <meta charset="utf-8">
        <title>UCSC Computer Science Scheduler</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="back">
        <header class="header">
            <h1>Offered Classes: Fall 2020</h1>
        </header>
        <div class="card">
            <div class="add">
                Add Class
            </div>
            <div class="remove">
                Remove Class
            </div>
            <div class="course">
                <div class="courseheader">
                <h2>COURSE - CSE 20</h2>
                </div>
                <div class="descriptionheader">
                    <p class="description">Description :
                    <br><br>
                    Learn the fundamentals of the Python programming language. From basic syntax to recursion, CSE 20 will introduce you.... ( No prior programming experience required ).
                    Learn the fundamentals of the Python programming language. From basic syntax to recursion, CSE 20 will introduce you.... ( No prior programming experience required )
                    Learn the fundamentals of the Python programming language. From basic syntax to recursion, CSE 20 will introduce you.... ( No prior programming experience required )
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="add">
                Add Class
            </div>
            <div class="remove">
                Remove Class
            </div>
            <div class="course">
                <div class="courseheader">
                <h2>COURSE - CSE 30</h2>
                </div>
                <div class="descriptionheader">
                    <p class="description">Description :
                    <br><br>
                    Learn more advanced Python concepts, such as Trees, Stacks, and...
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="add">
                Add Class
            </div>
            <div class="remove">
                Remove Class
            </div>
            <div class="course">
                <div class="courseheader">
                <h2>COURSE - CSE 12</h2>
                </div>
                <div class="descriptionheader">
                    <p class="description">Description :
                    <br><br>
                    Get fucked over by MIPS assembly....
                    </p>
                </div>
            </div>
        </div>
    </body>
    <script src="index.js" charset="utf-8"></script>
</html>
<%- include("footer")-%>
