<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>schedule page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="logo-div">
        <h1>UCSC Computer Science Scheduler</h1>
      </div>
      <div class="nav-links-div">
        <ul class="nav-links">
            <li class="link"><a href="https://docs.google.com/document/d/1nDYCS-lYgaSfeYu8J-itvHXummglf5yfUpJaEM4bJ9M/edit" target="_blank">Google Docs</a></li>
            <div class="link">|</div>
            <form class="link" action="/redirect" method="post">
              <button class="link" name="home">Home</button>
            </form>
            <div class="link">|</div>
            <form class="link" action="/redirect" method="post">
              <button class="link" name="scheduler">Scheduler</button>
            </form>
            <div class="link">|</div>
            <li class="link"><a href="https://catalog.ucsc.edu/Current/General-Catalog/Courses/CSE-Computer-Science-and-Engineering" target = "_blank">Course Catalog</a></li>
            <div class="link">|</div>
            <li class="link"><a href="https://catalog.ucsc.edu/Current/General-Catalog/Courses/CSE-Computer-Science-and-Engineering" target = "_blank">Requirements</a></li>
        </ul>
      </div>
    </header>
