<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>schedule page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <!-- Header -->
    <header class="header">
    <h1>UCSC Computer Science Scheduler</h1>
        <ul class="nav-links">
            <li><a href="https://docs.google.com/document/d/1nDYCS-lYgaSfeYu8J-itvHXummglf5yfUpJaEM4bJ9M/edit" target="_blank">Google Docs</a></li>
            |
            <li><a href="">Home</a></li>
             |
            <li><a href="">Scheduler</a></li>
             |
            <li><a href="https://catalog.ucsc.edu/Current/General-Catalog/Courses/CSE-Computer-Science-and-Engineering" target = "_blank">Course Catalog</a></li>
             |
            <li><a href="">Requirements</a></li>
        </ul>
    </header>
