/* header */

.header {
  background-color: #ffc93c;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid blue;
  position: relative;
}

.header h1{
  margin: 0px;
}
.logo-div{
  display: inline-block;

  bottom: 0px;

}

.nav-links-div{
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 40px;
  bottom: 0px;
}

.nav-links ul{
  padding: 0px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-links li a:hover {
    color: blue;
}

/* SCHEDULER PAGE */
/* grid components */
.main-grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 3% 12% 0%;
}


.season {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  border-color: rgb(118, 118, 118);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  height: 70px;
}

.year {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
  border-color: rgb(118, 118, 118);
  padding: 20px;
  height: 70px;
  font-size: 20px;
  text-align: center;
}

.quarter{

  background-color:rgb(239, 239, 239);
  border: 1px;
  border-style: solid;
  border-color: rgb(118, 118, 118);
  position: relative;
  display: grid;
}

.quarterForms{
  margin-bottom: 0px;
  display: grid;
}

.quarter:hover{
  background-color: rgb(225, 225, 225);
  border-color: rgb(74, 74, 74);
}

.quarter p{
  padding: 8px 0px 0px 5px;
  margin: 0px;
}

.quarter a {
    text-decoration: none;
    color: black;
}

.quarter a:hover {
    color: blue;
}


.thisQuarterGrid{
  margin: 15px 10px;
  border: 1px solid;
  border-color: rgb(40, 40, 40);
  border-radius: 2px;

}

.chosenCourses{
  background-color:rgb(239, 239, 239);
  font-size: 25px;
  padding: 15px 20px;
  position: relative;
  border-width: 1px;
}

.chosenCourses:hover {
  background-color: rgb(225, 225, 225);
  border-color: rgb(74, 74, 74);
}

.avaliableCourses{
  background-color: black;
}

.back {
    background-color: white;
}

.card {
    margin: 3px;
    height: 300px;
    width: 400px;
    background-color: #01589d;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.allForms{
  margin: 0px;
}

.add {
    display: block;
    font-weight: bold;
    margin: 4px;
    background-color: #00C400;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    position: absolute;
    right: 0px;
    left: 0px;
}

.add:hover {
    background-color: #32CD32;
    cursor: pointer;
}

.remove {
    border-radius: 2px;
    font-weight: bold;
    background-color: #F20F0F;
    position:absolute;
    text-align: center;
    padding:10px ;
    font-size: 50%;
    right: 20px;
    top: 22%;
}

.remove:hover {
    background-color: #F23F3F;
    cursor: pointer;
}

.cardCourse {
    margin: 4px;
    background-color: #ffc93c;
    height: 220px;
    width: 388px;
    border-radius: 5px;
    position: absolute;
    bottom: 2px;
    display: block;

}

.cardCourseName {
    margin: 6px;
    line-height: 0px;
    text-align: left;
    padding: 8px 8px 8px 20px;
    background-color: #FFBC00;
    height: 40px;
    width: 344px;
    border-radius: 5px;
}

.cardCourseDescription {
    margin: 6px;
    background-color: #FFBC00;
    border-radius: 5px;
    height: 140px;
    overflow-x: hidden;
    overflow-y: auto;
}

.description {
    padding: 0px 10px 10px 20px;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
